@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;}
body{ background:#fbe7cf;}
ul,li,h3{list-style:none; margin:0; padding:0; }
h3{list-style:none; margin:0; padding:0; line-height:0;}
.swiper-container{padding:0; margin:0 0 10px  0;}
.swiper-pagination{ bottom:10px;}
img{width:100%; max-width:100%;}
.clear{width:100%; height:0; clear:both;}
.index{ position:absolute; width:100%; background:#fbe7cf url(../images/bg.jpg) no-repeat; background-size:100%;}
.hongbao{margin:8.53rem 0 0 0;}
input[type=button]{-webkit-appearance:none;outline:none}

.hongbao h3,.list_box h3{text-align:center; margin:10px 0;}
.hongbao h3 img{width:3rem;}
.hongbao ul{ width:95%; margin:0 auto 0 auto;}
.hongbao ul li{  float:left; width:25%; text-align:center; font-size:.3rem; color:#be1830; position:relative; font-weight:bold;}
.hongbao ul li img{ width:2.25rem; margin:0 auto}
.zfbox{position:fixed;top:auto; bottom:0; width:100%; border-top:1px solid #ccc; display:none; z-index:9999}

.btn{ float:left;display:block;width:50%;height:1.24rem; line-height:1.24rem;  background:#d30b23; color:#fff; text-align:center; font-size:.5rem; border:none;	-webkit-appearance:none;outline:none}
.all_text{float:left;width:50%;height:1.24rem; line-height:1.24rem; background:#fff; opacity:.8; font-size:.5rem; text-indent:.5rem; color:#ff6600; font-weight:bold}


.list_box{width:95%; margin:0 auto 40px auto;}
.list_box h3 img{width:3rem;}
.list{background:#fff;border-radius:8px; padding:20px;}
.list_lh{ height:5.35rem; overflow:hidden;  }
.list_lh li{ font-size:.42rem; height:1rem; line-height:1rem; text-align:left; color:#666; }
.list_lh li p{ height:24px; line-height:24px;}
.list_lh li p strong{color:#F00;}

.not-allow-scroll{overflow:hidden;}
.i_tips{display:none; position:absolute; top:5px; color:#ffeb28; width:100%; text-align:center; font-size:.4rem; font-weight:bold}
.on .i_tips{display:block;}
.popup-text{padding:30px; font-size:.5rem; color:#F00; text-align:center}
.popup-box,.popup-box2{ display:none;position: fixed;top:0;width: 100%; height: 100%; z-index: 200; background: rgba(0, 0, 0, .5); overflow: hidden; padding: 0 0 15%; }
.close{ display:block;width:.68rem; height:.68rem; background:url(../images/close.png) no-repeat; border-radius:50%; background-size:100% 100%; position:absolute; right:10px;top:10px;}
.close:hover{ background:#F90 url(../images/close.png) no-repeat; background-size:100% 100%;}
.popup-content{display:none;}
.popup-content{ width:95%; margin:50% auto 0 auto; background:#fff; border-radius:8px; overflow:hidden;}
.popup-content h3{font-size:.5rem; text-align:center; border-bottom:#ff6600 1px solid; line-height:1.2rem; background:#ff6600; color:#fff; position:relative;}
.i_box{margin: 20px; text-align:center;}
.i_box *{vertical-align:middle}
.i_box a{ display:inline-block; width:1rem; height:1rem;background-color:#ff6600;border:1px solid #ccc;text-decoration:none;color:#fff;line-height:1rem; text-align:center; font-size:1rem;
border:1px solid #ff6600;}
.i_box a:hover{color:#000}
.i_box input{width:2rem;height:1rem;border:1px solid #ff6600; border-left:none; border-right:none;text-align:center;line-height:16px; font-size:.5rem}

.btnok{ display:block;width:95%; margin:20px auto; height:1.24rem; line-height:1.24rem; border-radius:8px; background:#ff6600; color:#fff; text-align:center; font-size:.5rem; border:none;	-webkit-appearance:none;outline:none}


/* music */
    @-webkit-keyframes reverseRotataZ{
        0%{-webkit-transform: rotateZ(0deg);}
        100%{-webkit-transform: rotateZ(-360deg);}
    }
    @-webkit-keyframes rotataZ{
        0%{-webkit-transform: rotateZ(0deg);}
        100%{-webkit-transform: rotateZ(360deg);}
    }
    #musicControl { position:fixed;right:10px;top:20px;margin-top:0;display:inline-block;z-index:99999999; line-height:0;}
    #musicControl a { display:inline-block;width:34px;height:34px;overflow:hidden;background:url('../images/mcbg.png') no-repeat;background-size:100%;}
    #musicControl a audio{width:100%;height:56px;}
    #musicControl a.stop { background-position:left bottom;}
    #musicControl a.on { background-position:0px 1px;-webkit-animation: reverseRotataZ 1.2s linear infinite;}
    #music_play_filter{width:100%;height:100%;overflow:hidden;position:fixed;top:0;left:0;z-index:99999998;}